<a href="https://colab.research.google.com/github/Gilbert9172/Introduction_to_Data_Science/blob/main/Anova_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 일원분산분석

In [ ]:
import pandas as pd

url = 'https://raw.githubusercontent.com/euphoris/datasets/master/PlantGrowth.csv'


df = pd.read_csv(url)
df.head()

   weight group
0    4.17  ctrl
1    5.58  ctrl
2    5.18  ctrl
3    6.11  ctrl
4    4.50  ctrl

In [ ]:
df.group.unique()

array(['ctrl', 'trt1', 'trt2'], dtype=object)

In [ ]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
import pandas.util.testing as tm

In [ ]:
model = ols('weight ~ C(group)',df).fit()
anova_lm(model)

            df    sum_sq   mean_sq         F   PR(>F)
C(group)   2.0   3.76634  1.883170  4.846088  0.01591
Residual  27.0  10.49209  0.388596       NaN      NaN

# 다원분산분석 (균형자료)

In [ ]:
url1 = 'https://raw.githubusercontent.com/guru99-edu/R-Programming/master/poisons.csv'

df1 = pd.read_csv(url1)
df1 = df1.iloc[:,1:4]
df1.head()

   time  poison treat
0  0.31       1     A
1  0.45       1     A
2  0.46       1     A
3  0.43       1     A
4  0.36       2     A

In [ ]:
# 균형 설계 자료인지 확인
df1.groupby('poison').agg(len)

        time  treat
poison
1       16.0     16
2       16.0     16
3       16.0     16

In [ ]:
df1.groupby('treat').agg(len)

       time  poison
treat
A      12.0      12
B      12.0      12
C      12.0      12
D      12.0      12

In [ ]:
df1.groupby(['poison', 'treat']).agg(len)

              time
poison treat
1      A       4.0
       B       4.0
       C       4.0
       D       4.0
2      A       4.0
       B       4.0
       C       4.0
       D       4.0
3      A       4.0
       B       4.0
       C       4.0
       D       4.0

In [ ]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

model = ols('time ~ C(poison) * C(treat)', df1).fit()
anova_lm(model)

# C(poison):C(treat) - p > 0.05 유의미 하지 않음. 상호작용 효과는 발견하지 못함.

                      df    sum_sq   mean_sq          F        PR(>F)
C(poison)            2.0  1.033012  0.516506  23.221737  3.331440e-07
C(treat)             3.0  0.921206  0.307069  13.805582  3.777331e-06
C(poison):C(treat)   6.0  0.250137  0.041690   1.874333  1.122506e-01
Residual            36.0  0.800725  0.022242        NaN           NaN

#3.비균형자료의 이원분석

In [ ]:
url3 = 'https://raw.githubusercontent.com/guru99-edu/R-Programming/master/poisons.csv'

df3 = pd.read_csv(url3)
df3 = df3.iloc[1:,1:]
df3.head()

   time  poison treat
1  0.45       1     A
2  0.46       1     A
3  0.43       1     A
4  0.36       2     A
5  0.29       2     A

In [ ]:
df3.groupby('poison').agg(len)

        time  treat
poison
1       15.0     15
2       16.0     16
3       16.0     16

In [ ]:
df3.groupby('treat').agg(len)

       time  poison
treat
A      11.0      11
B      12.0      12
C      12.0      12
D      12.0      12

In [ ]:
df3.groupby(['poison', 'treat']).agg(len)

              time
poison treat
1      A       3.0
       B       4.0
       C       4.0
       D       4.0
2      A       4.0
       B       4.0
       C       4.0
       D       4.0
3      A       4.0
       B       4.0
       C       4.0
       D       4.0

In [ ]:
# 비균형설계자료의 경우 typ=3

model = ols('time ~ C(poison) * C(treat)', df3).fit()
anova_lm(model, typ=3)

                      sum_sq    df          F    PR(>F)
Intercept           0.598533   1.0  26.627969  0.000010
C(poison)           0.096206   2.0   2.140041  0.132793
C(treat)            0.367098   3.0   5.443909  0.003525
C(poison):C(treat)  0.241006   6.0   1.787011  0.130406
Residual            0.786717  35.0        NaN       NaN